
<div class="col-12 content">
    <div class="col-sm-4">
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, ullam quae velit autem ea laudantium eos quas voluptatum suscipit labore earum ut porro quos molestiae assumenda enim tempora? Amet, inventore.
        </p>
    </div>

    <div class="col-sm-4">
        <p class="logo-text">فشونستا</p>
        <div class="icons">
            <img src="assets/facebook2.png" alt="" class="icon">
            <img src="assets/instagram.png" alt="" class="icon instagram-icon">
            <img src="assets/twitter.png" alt="" class="icon">
        </div>
    </div>
    
</div>