



<div class="container content" >
    <!-- <div class="promo_mobile">
        <h1 class="col-12 store welcome-text-mob" data-aos="fade-down" data-aos-duration="1500">welcome to </h1>
        <img src="assets/fa.jpg" alt="">
    </div> -->
    <!-- <h1 class="col-12 store" data-aos="fade-down" data-aos-duration="2500">Our Store</h1> -->
    <!-- <a routerLink="shops/women" class="col-sm-3" data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets/fashion2.jpg" alt="">
        <p class="title women">سيدات</p>
    </a>
    <a routerLink="shops/men" class="col-sm-3" data-aos="zoom-in" data-aos-duration="1000">
        <img src="assets/manPhoto2.jpg" alt="">
        <p class="title men">رجالي</p>
    </a> -->

    <h1 class="col-12 store" data-aos="fade-down" data-aos-duration="2500">المتجر</h1>
    <h2 class="col-12 store" data-aos="fade-down" data-aos-duration="1500">.اهلا بك في موقعنا ، يمكنك شراء منجاتك بكل ارياحية</h2>
    <div class="col-sm-4">
        <img src="assets/fashions-2.jpg" class="rotated-img" [ngStyle]="{'animation-play-state': stopped ?  'paused' : 'running'}" alt="">
        <img src="assets/fashions-2.jpg" class="standalone-img" alt="">
    </div>
    <div class="categories col-sm-8">
        <a routerLink="shops/women" class="col-sm-4" data-aos="zoom-in" data-aos-duration="1000">
            <img src="assets/women (1).jpg" class="category-img" alt="">
            <p class="title women">سيدات</p>
        </a>
        <a routerLink="shops/men" class="col-sm-4" data-aos="zoom-in" data-aos-duration="1000">
            <img src="assets/men.jpg" class="category-img" alt="">
            <p class="title men">رجالي</p>
        </a>
    </div>
</div>